header{
	background-color: #e74c3c;
}
.inc{
	font-size: 170%;
	color: white;
	padding-top: 3%; 
}
.ul{
	list-style: none;
	padding-top: 4%;
	text-align : right;
}
a{
	text-decoration: none;
	color: white;
	padding-right: 6%;
	font-size: 110%;

}
li{
	display: inline;
}
.backs1{
	background-image: url('./img/case.jpg');

}
.big1{
	font-size: 280%;
	padding-top: 23%;
	padding-left: 17%;
	padding-bottom: 20%;
}

.work{
	padding-top: 11%;
	padding-bottom: 1%;
	font-size: 170%;
}
.img2{
	padding-top: 3%;
	width: 36%;
}
.font1{
	font-size: 230%;
}
.color2{
	background-color: #ecf0f1;
}
.fluida{
	padding-bottom: 5%;
}
.design{
	font-size: 175%;
	padding-top: 29%;
}

.gold{
	width: 110%;
	padding-top: 15%;
	padding-bottom: 20%;
}
.lets{
	padding-top: 10%;
	font-size: 170%;
}

footer{
	background-color: #e74c3c;
}

.Copyright{
	padding-top: 1%;
	padding-bottom: 1%;
	color: white;
}

.hi{
	font-size: 200%;
	padding-top: 28%;
}

.okay{
	padding-bottom: 25%;
}
.gos{
	width: 50%;
	padding-top: 20%;
}

.dom{
	font-size: 200%;
	padding-top: 4%;
	padding-bottom: 3%;
}
.hes{
	width: 90%;	
}
.jk{
	padding-top: 3%;
}
.them{
	padding-top: 6%;
}
.os{
	padding-bottom: 10%;
}
.joker{
	width: 70%;
}
.topUp{
	margin-top: 14%;
}
.tabTop{
	margin-top: 5%;
}