header{
/*	background-image: url('./img/grey.jpg');	*/
	background-color: #e74c3c;
	/*position: fixed;*/
}
.header1{
	background-color: #e74c3c;
}
.blocked{
	position: fixed;
	z-index: 50;
	padding: 1.5% 88.5% 0.8% 0;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);	
}
.welback{
	/*padding: 4% 0 0.5% 9%;*/
	color: white;
	font-size: 109%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.inc{
	font-size: 170%;
	color: white;
	padding-top: 3%; 
}
.ul{
	list-style: none;
	padding-top: 4%;
	text-align : right;
}
.afterIn{
	background-color: #e9e9e9;
	margin-left: 21%;
	padding-bottom: 32%;
	margin-top: -11%;
}
nav ul{
	list-style-type: none;
    margin: 14.78% 0 0 -1.5%;
    padding: 0;
    width: 22.5%;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 109%;
}
nav span{
	margin-right: 5.4% !important;
	font-size: 111% !important;
	color: #7f8c8d;
}
nav li a {
    display: block;
    color: #333 !important;
    padding: 5% 0 5% 7.4%;
    text-decoration: none;
}
.amazing{
	z-index: 80 !important;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);		
}
.tose{
	margin-top: 4.5%;
	background-image: url('./img/rain.jpg');	
	margin-left: -16%;
	margin-right: 7.7%;
	position: fixed;
}
.dose{
	margin-left: 7.2%;
}
.navig{
	font-size: 80%;
	padding: 2.7% 0 2.1% 7%;
	font-weight: bold;
	background-color: #e9e9e9;
}
.avatar1{
	width: 10%;
	border-radius: 50%;
	margin-top: 3.3%;
	margin-left: 43.5%;
}
.trator{
	margin-top: 5%;
	margin-bottom: -0.1%;
	font-size: 108%;
	margin-left: 43.5%;
	color: white;
}
.gmail{
	font-size: 90%;
	margin-left: 43.5%;
	padding-bottom: 0%;
	color: white;
}
nav li a.active {
    background-color: #4CAF50;
    color: white;	
}

nav li a:hover:not(.active) {
    /*background-color: #555;*/
    color: white;
}
.urgent{
	margin: 20% 0 0 8%;
	padding-left: 21.5%;	
}
.abof{
	text-decoration: none;
	color: white;
	padding-right: 6%;
	font-size: 96%;
}
.abof:hover{
	color: white;
}
.bbof{
	text-decoration: none;
	color: white;
	padding-right: 6%;
	font-size: 110%;
	/*z-index: 99 !important;*/
}
.bbof:hover{
	color: white;
}
.cbof{
	color: #504f45;
}
.cbof:hover{
	color: black;
}


li{
	display: inline;
}
.backs1{
	background-image: url('./img/case.jpg');

}
.big1{
	font-size: 280%;
	padding-top: 23%;
	padding-left: 17%;
	padding-bottom: 20%;
}

.work{
	padding-top: 11%;
	padding-bottom: 1%;
	font-size: 170%;
}
.img2{
	padding-top: 3%;
	width: 36%;
}
.font1{
	font-size: 230%;
}
.color2{
	background-color: #ecf0f1;
}
.fluida{
	padding-bottom: 5%;
}
.design{
	font-size: 175%;
	padding-top: 29%;
}

.gold{
	width: 110%;
	padding-top: 15%;
	padding-bottom: 20%;
}
.lets{
	padding-top: 10%;
	font-size: 170%;
}

footer{
	/*background-image: url('./img/grey.jpg');	*/
	background-color: #e74c3c;
}

.Copyright{
	padding-top: 1.8%;
	padding-bottom: 0.5%;
	color: white;
}

.Copyright1{
	padding-top: 1%;
	padding-bottom: 2%;
	color: white;
}

.hi{
	font-size: 200%;
	padding-top: 28%;
}

.okay{
	padding-bottom: 22.9%;
}
.gos{
	width: 50%;
	padding-top: 20%;
}

.dom{
	font-size: 200%;
	padding-top: 4%;
	padding-bottom: 3%;
	/*color: #504f45;	*/
}
.hes{
	width: 90%;	
}
.jk{
	padding-top: 3%;
}
.them{
	padding-top: 6%;
}
.os{
	padding-bottom: 10%;
}
.joker{
	width: 70%;
}
.topUp{
	margin-top: 14%;
}
.topUp1{
	margin-top: 0%;
}
.tabTop{
	margin-top: 5%;
}
.addPegawai{
	margin-top: 10%;
}
.space8{
	margin-top: 3%;
}
.btnr{
	background-color: #e74c3c;
	color: white;
	border-radius: 0%;
	margin-top: 3%;
}
.thems{
	margin-top: 6%;
}
.dos{
	margin-top: 6%;
}
.bold{
	font-size: 190%;
	/*font-weight: bold;*/
}
.wordLogin{
	margin: 21% 0 20% 0;
	padding: 5% 7% 11% 7%;
	/*background-color: #dadfe1;*/
	/*border-radius: 20%;*/
	color: #34495e;
}
.litleSpace{
	margin-top: 5%;
}
.btn-gold{
	background-color: #67809f;
	color: #ecf0f1;
}
.btn-gold:hover{
	background-color: #34495e;
	color: #ecf0f1;
}
.fum{
	background-image: url('./img/elegant.jpg');
}
.dash1{
	margin: 22.5% 0 -10% -40% !important;
	font-size: 116%; 
	padding-left: 45.5%;
	padding-top: 0%;
}
.sups{
	margin-left: 4.2%;
	margin-right: -4.5%;
	margin-top: 11.5%;
}
.sups2{
	margin-left: 2.5%;
	margin-right: -4.5%;
	margin-top: 11.5%;
}
.sup1{
	background-color: #2980b9;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.sup2{
	background-color: #3498db;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.sup3{
	background-color: #27ae60;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.sup4{
	background-color: #2ecc71;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.sup5{
	background-color: #c0392b;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.sup6{
	background-color: #e74c3c;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.sup7{
	background-color: #8e44ad;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.sup8{
	background-color: #9b59b6;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}

.vMember{
	width: 85%;	
	padding: 34% 2% 38% 2%;
}
.vWord{
	margin-bottom: -2%;
	padding-top: 12.5%;
	padding-right: -5%;
	font-size: 95%;
	color: white;
}
.vBil{
	font-size: 170%;
	padding-bottom: 0.5%;
	color: white;
}
.tables{
	margin-top: 9%;
	background-color: white;
	padding: 3% 4% 3% 4%;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.MostPop{
	font-size: 120%;
}
.vums{
	margin-top: 7%;
	margin-left: 3%;
}
.vums1{
	background-color: #6c7a89;	
	color: white;
	font-size: 150%;
	padding: 4% 0 4% 0;
	margin: 1.8% 0 0 0%;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);	
}
.vums2{
	background-color: #95a5a6 !important;	
	color: white;
	padding: 9% 0 14.5% 0;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}
.hok{
	font-size: 740%;	
}
.ash{
	font-size: 220%;
	margin-top: -10%;
}